:host {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr;
    grid-template-columns: 1fr 100px;
} 

.title-area {
    grid-column: 1 / -1;
}

.text-area {
    grid-column: 1;
    grid-row: 2/-1;
}

div {
    padding: 4px;
}


img {
    height: 32px;
}