:host {
    display: grid;
    grid-template-rows: auto 250px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
} 

.title-area, .text-area {
    grid-column: 1 / -1;
}

div {
    padding: 4px;
}


li {
    list-style: none;
    border: 1px solid gray;
    margin: 4px;
    padding: 4px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
}

li.humus {
    background-color: lightgreen;
    
}


li:hover {
    background-color: lightgray;
}

