<div class="title-area">
  <app-title [color]="selectedColor">
    <img title-image src="assets/notepad.png">
    <span>Notepad!!!</span>
  </app-title>
</div>

<div class="colors-area">
  <app-string-selector
      [options]="colors"
      [selected]="selectedColor"
      (selectionRequested)="selectColor($event)"
  ></app-string-selector>
</div>
<div class="fonts-area">
  <app-string-selector
      [options]="fonts"
      [selected]="selectedFont"
      (selectionRequested)="selectFont($event)"
  ></app-string-selector>
</div>
<div class="sizes-area">
  <app-string-selector
      [options]="sizes"
      [selected]="selectedSize"
      (selectionRequested)="selectSize($event)"
  ></app-string-selector>
</div>
<div class="text-area">
  <textarea
    [style.color]="selectedColor"
    [style.font-family]="selectedFont"
    [style.font-size]="selectedSize"
  ></textarea>
</div>
